body {
  background-color: grey;
}

.page {
  width: 780px;
  margin: auto;
  font-family: "Source sans Pro", Calibri, Tahama, sans-serif;
  font-size: 14px;
  border: 5px solid #3388aa;
  border-radius: 10px;
  box-shadow: 2px 3px 4px black;
  padding: 20px;
  background-color: white;
}

.center {
  text-align: center;
}

.section {
  margin-bottom: 70px;
  text-align: justify;
  margin-top: -10px;
}
.section:hover {
  color: #00aa00;
}

.sec-gauche {
  float: left;
}

.info {
  float: left;
}

.sec-droite {
  margin-left: 190px;
  margin-top: -90px;
}

h2 {
  font-size: 25px;
  color: #3388aa;
  text-align: center;
  border-top: 3px solid #3388aa;
  margin-top: 10px;
  line-height: 50px;
}

.ligneObjectif {
  border-top: 10px double #3388aa;
}

h1 {
  font-size: 30px;
  color: #3388aa;
}

.titre {
  font-weight: bold;
  color: #3388aa;
}

.titreExperience {
  text-decoration: underline black;
  font-weight: bold;
}

a:link {
  color: #3388aa;
  text-decoration: none;
}

a:visited {
  color: #3388aa;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}
